<section class="todo-card">
  <div class="todo-wrapper">
    <h2>Today:</h2>
    <button mat-icon-button type="button" class="btnIcoColor" (click)="showForm()" [disabled]="!hideForm">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
  <div *ngFor="let list of lists">
    <p>{{list.todo}}</p>
  </div>

  <form class="todo-form" [hidden]="hideForm" [formGroup]="form" (ngSubmit)="addToDo()">
    <mat-form-field appearance="legacy">
      <mat-label>Add to-do</mat-label>
      <input class="mat-form-field" matInput formControlName="todo" autocomplete="off">
      <button mat-icon-button matSuffix type="button" (click)="hideForm = true">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" [disabled]="form.invalid">Save</button>
  </form>
</section>



