<form class="todo-card" [formGroup]="form" (ngSubmit)="addToDo()">
  <div>
    <div class="todo-wrapper">
      <h2>Add To Do</h2>
      <button mat-icon-button type="button" class="btnIcoColor" (click)="showForm()" [disabled]="!hideForm">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>

    <section *ngFor="let list of lists" class="todo-form" formArrayName="check">
      <mat-checkbox *ngIf="list.checked === false"
        class="example-margin"
        (change)="checkBoxValue(list)"
        [checked]="list.checked"
      >{{list.toDo}}
      </mat-checkbox>

      <button *ngIf="list.checked === false" mat-icon-button type="button" class="btnIcoColor btnCenter">
        <a (click)="remove(list.id)">
          <mat-icon>clear</mat-icon>
        </a>
      </button>
    </section>

    <section [hidden]="hideForm" >
      <mat-form-field appearance="legacy">
        <mat-label>Add to-do</mat-label>
        <input matInput
               class="mat-form-field"
               #inputAdd
               formControlName="todo"
               autocomplete="off"
               (focusout)="hideForm = true; addToDo()">
      </mat-form-field>
    </section>
  </div>
</form>
